* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.body_active {
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.header {
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.header_logo {
  width: 195px;
  height: 42px;
}

.header_logo_img {
  width: 100%;
  height: 100%;
}

.header_nav {
  width: 502px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav_link {
  position: relative;
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

.header_nav_link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: -2px;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.header_nav_link:hover:before {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #000;
}

.header_buttons {
  width: 303px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_buttons_login {
  width: 96px;
  height: 52px;
  border: 1px solid #000;
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.header_buttons_login:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: #C5E9EA;
}

.header_buttons_talk {
  width: 189px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.header_buttons_talk:hover {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #C5E9EA;
}

@media (max-width: 1050px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .header_nav {
    z-index: 5;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #a6e7eb;
    top: -1000px;
    left: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header .header_nav .header_nav_link {
    display: block;
    margin-bottom: 50px;
    font-size: 40px;
  }
  .header .nav_active {
    top: 0;
    -webkit-transition: top .5s;
    transition: top .5s;
  }
  .header_buttons {
    margin-right: 75px;
  }
  .header .burger_menu {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 10;
    margin-right: 30px;
    width: 40px;
    height: 50px;
  }
  .header .burger_menu_line {
    margin-top: 8px;
    margin-left: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
  }
}

@media (max-width: 600px) {
  .header {
    display: block;
  }
  .header_buttons {
    margin-top: 20px;
  }
}

.first_screen {
  background-image: url(".././img/backgroundFirstScreen.png");
  background-repeat: no-repeat;
  background-position: right 20% top 0;
  background-size: auto;
  margin-top: 100px;
  margin-bottom: 170px;
}

.first_screen_title {
  width: 483px;
  height: 166px;
  font-size: 77px;
  font-weight: 700;
  color: #000;
  line-height: 83px;
}

.first_screen_text {
  margin-top: 27px;
  width: 483px;
  height: 92px;
  color: #000;
  font-size: 20px;
  line-height: 31px;
  font-weight: normal;
}

.first_screen_miniTitle {
  margin-top: 79px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.first_screen_btn {
  margin-top: 27px;
  width: 159px;
  height: 61px;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border-radius: 100px;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.first_screen_btn:hover {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #C5E9EA;
}

@media (max-width: 1435px) {
  .first_screen {
    background-size: auto;
    background-position: right 0 top 0;
  }
}

@media (max-width: 1100px) {
  .first_screen {
    margin-top: 10px;
    margin-bottom: 10%;
    background-position: top center;
    padding-top: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 680px) {
  .first_screen {
    padding: 0 10px;
    background-size: 90%;
    padding-top: 70%;
  }
  .first_screen_title {
    line-height: 55px;
    font-size: 45px;
    width: 320px;
    height: auto;
  }
  .first_screen_text {
    height: auto;
    width: 300px;
    margin-top: 10px;
    font-size: 18px;
  }
  .first_screen_miniTitle {
    margin-top: 30px;
  }
}

.second_screen {
  margin-bottom: 150px;
}

.second_screen .container {
  width: 100%;
  background-image: url(".././img/backgroundSecondScreen.png");
  background-repeat: no-repeat;
  background-position: left 0 top 0;
  background-size: auto;
}

.second_screen_title {
  margin-left: auto;
  margin-right: 0;
  width: 510px;
  height: 173px;
  font-weight: bold;
  font-size: 57px;
  line-height: 58px;
  color: #000;
}

.second_screen_text {
  margin-left: auto;
  margin-right: 0;
  margin-top: 36px;
  margin-bottom: 108px;
  width: 510px;
  height: 123px;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #000;
}

.second_screen_text_link {
  color: #335C81;
  -webkit-transition: color .2s;
  transition: color .2s;
  text-decoration: underline;
}

.second_screen_text_link:hover {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #67a4da;
}

@media (max-width: 1020px) {
  .second_screen {
    margin-bottom: 50px;
  }
  .second_screen .container {
    padding-top: 350px;
    background-position: top center;
  }
  .second_screen_title {
    margin: 0 auto;
  }
  .second_screen_text {
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .second_screen {
    margin-top: 70px;
    margin-bottom: 0;
    padding: 0 10px;
  }
  .second_screen .container {
    padding-top: 65%;
    background-position: top center;
    background-size: 100%;
  }
  .second_screen_title {
    font-size: 35px;
    line-height: 35px;
    width: 310px;
    height: auto;
  }
  .second_screen_text {
    margin-top: 10;
    font-size: 18px;
    width: 300px;
    height: auto;
  }
}

.why_switch {
  margin-top: 100px;
  margin-bottom: 126px;
}

.why_switch_title {
  font-weight: bold;
  font-size: 58px;
  color: #000;
}

.why_switch_wrapp {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why_switch_wrapp_item {
  width: 308px;
  height: 333px;
}

.why_switch_wrapp_item_img {
  width: 200px;
  height: 150px;
}

.why_switch_wrapp_item_title {
  font-weight: bold;
  font-size: 28px;
  color: #000;
}

.why_switch_wrapp_item_text {
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

.why_switch_wrapp_item_text_link {
  color: #335C81;
  text-decoration: underline;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.why_switch_wrapp_item_text_link:hover {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #67a4da;
}

.why_switch_link {
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 18;
  font-weight: bold;
  display: block;
  width: 235px;
  height: 50px;
  border-radius: 100px;
  background-color: #F7B2B7;
  border: 2px solid #F7B2B7;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.why_switch_link:hover {
  -webkit-transition: background .2s;
  transition: background .2s;
  background-color: white;
}

@media (max-width: 1020px) {
  .why_switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
  .why_switch_title {
    margin: 0 auto;
    width: 510px;
  }
}

@media (max-width: 950px) {
  .why_switch_wrapp {
    margin-top: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 550px) {
  .why_switch {
    padding: 0 10px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .why_switch_title {
    width: 310px;
    font-size: 35px;
  }
  .why_switch_wrapp_item {
    margin-top: 20px;
    width: 290px;
    height: auto;
  }
  .why_switch_link {
    margin-top: 40px;
  }
}

.plans {
  background-color: #FDECED;
  padding-top: 60px;
  padding-bottom: 91px;
}

.plans_title {
  font-weight: normal;
  font-size: 58px;
  color: #000;
}

.plans_wrapp {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plans_wrapp_item {
  width: 308px;
  height: 404px;
}

.plans_wrapp_item_img {
  width: 308px;
  height: 174px;
}

.plans_wrapp_item_title {
  margin-top: 24px;
  font-weight: bold;
  font-size: 28px;
  color: #000;
}

.plans_wrapp_item_text {
  width: 304px;
  margin-top: 10px;
  color: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.companies {
  margin-top: 110px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies_title {
  width: 236px;
  height: 72px;
  font-weight: normal;
  font-size: 27px;
  color: #000;
}

.companies_wrapp {
  width: 700px;
  height: 360px;
}

.companies_wrapp_item {
  width: 200px;
  height: 84px;
}

.hub .container {
  padding-bottom: 150px;
  padding-top: 100px;
  background-image: url(".././img/backgroundHub.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}

.hub_title {
  width: 343px;
  height: 58px;
  font-weight: bold;
  font-size: 58px;
  color: #000;
}

.hub_text {
  margin-top: 40px;
  width: 547px;
  height: 62px;
  color: #000;
  font-weight: normal;
  font-size: 20px;
}

.hub_link {
  margin-top: 80px;
  width: 140px;
  height: 50px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  background: #F7B2B7;
  border-radius: 100px;
  border: 2px solid #F7B2B7;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.hub_link:hover {
  -webkit-transition: background .2s;
  transition: background .2s;
  background-color: white;
}

.start {
  margin-top: 80px;
}

.start_wrapp {
  padding: 90px;
  width: 100%;
  height: 283px;
  background-color: #8BD4D6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start_wrapp_main_title {
  font-weight: bold;
  font-size: 46px;
  color: #000;
}

.start_wrapp_main_text {
  margin-top: 18px;
  font-weight: normal;
  font-size: 20px;
  color: #000;
}

.start_wrapp_link {
  width: 159px;
  height: 50px;
  display: block;
  border-radius: 100px;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #000;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.start_wrapp_link:hover {
  -webkit-transition: color .2s;
  transition: color .2s;
  color: #8BD4D6;
}

.footer {
  margin-top: 110px;
  background-color: #302E3F;
  padding: 45px 145px;
}

.footer_logo {
  display: block;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_logo_img {
  margin-right: 18px;
  width: 50px;
  height: 50px;
}

.footer_logo_img img {
  width: 100%;
  height: 100%;
}

.footer_logo_title {
  color: #fff;
  font-weight: normal;
  font-size: 28px;
}

.footer_wrapp {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_wrapp_item {
  margin-top: 60px;
  width: 204px;
}

.footer_wrapp_item_title {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.footer_wrapp_item ul {
  margin-top: 12px;
}

.footer_wrapp_item ul li a {
  line-height: 25px;
  font-weight: normal;
  font-size: 16px;
  color: #C5E9EA;
}

.footer_wrapp_item ul li a:hover {
  text-decoration: underline;
}

.footer_down {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_down_wrapp {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_down_wrapp h4 {
  font-weight: normal;
  font-size: 16px;
  color: #C5E9EA;
}

.footer_down_logo {
  display: block;
  width: 70px;
  height: 70px;
}

.footer_down_logo img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */